

$logo_height: 50px;
$top_nav_height: 35px;

@media (min-width: $mobile_width) {
}


header {




    nav {

        display: flex;
        flex-wrap: nowrap;
        padding: 10px 0;


        #branding {
            background: url('../images/logo.svg') no-repeat center;
            background-size: contain;
            display: block;
            text-indent: -9999px;
            height: $logo_height;
            width: 250px;
            flex: 1 auto;
        }

        ul {
            flex: 1 auto;
            text-align: right;

            li {
                display: inline-block;

                a {
                    display: inline-block;
                    color: $blue;
                    font-weight: bold;
                    text-transform: uppercase;
                    padding: 0 10px;
                    line-height: $logo_height;
                    &:visited, &:active, &:link {
                        color: $blue;
                    }
                }
            }
        }
    } // nav


    #top_nav {
        background: $blue;
        margin: 0;
        padding: 0;
        height: $top_nav_height;
        overflow: hidden;

        ul {
            text-align: right;
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                margin: 0 -2px 0 -2px;
                padding: 0;
                position: relative;


                a {
                    padding: 0 20px;
                    line-height: $top_nav_height;
                    margin: 0;
                    color: white;
                    display: inline-block;
                    background: $light_blue;


                }

                &:first-child, &:last-child {

                    &:after {
                        // outline: 1px solid red;
                        content:'';
                        width: $top_nav_height;
                        height: $top_nav_height;
                        display: block;
                        position: absolute;
                        top: 0;
                        transform: rotate(45deg);
                        z-index: 2;
                    }
                }

                &:first-child {
                
                    a {
                        padding-left: $top_nav_height;
                    }

                    &:after {

                        left: #{ ($top_nav_height   / -1.4) };
                        background: $blue;
                    }
                }

                &:last-child {
                    a {
                        padding-right: $top_nav_height;
                    }
                    &:after {

                        right: #{ ($top_nav_height   / -1.4) };
                        background-color: $light_blue;
                    }
                }
            }
        }
    } // #top_nav

}




#menu_button {
    display: inline-block;
    height: 34px;
    width: 42px;
    position: absolute;
    z-index: 1000;
    top: 16px;
    right: 11px;
    background: url('../images/menu.svg') no-repeat center;
    background-size: 30px;
    text-indent: -9999px;
    cursor: pointer;


    @media (min-width: 768px) {
        display: none;
    }

}
